/*@media only screen and (min-width: 992px) {*/
* {
    box-sizing:border-box;
}
body {
/*    background-color:white;*/
    background-image:linear-gradient(white 20%, antiquewhite 30%, lavender);
    margin:0;
}

img {
    width:100%;
    height:100%;
    
}

[class *= "w-"]{
    float: left;
  padding: 15px;
  width: 100%;;
}

/*@media only screen and (min-width:767px, max-width: 959px) {*/
/*
    @media only screen and (min-width: 959px) {
     .w-3-1 {padding-left:5vw;padding-right:5vw}
    .w-3-2 {width:86vw;height:60vw;margin:2vw}
    .w-3-3 {font-size:2vw;width:90%;margin-left:5%;}
    .w-3-4 {width:70vw;height:auto;margin-left:0vw;}
    #w-3-6{width:100%;}
    .w-3-5 {height:10vw;}
}
*/

/*
@media only screen and (max-width:959px) {
    
    .w-2-1 {padding-left:10vw;padding-right:10vw}
    .w-2-2 {width:36vw;height:38vw;margin:2vw}
    .w-2-3 {font-size:2vw;padding-left:25px;padding-right:25px}
    .w-2-4 {width:30vw;}
    #w-2-6{width:30vw;}
    .w-2-5 {height:30vw;padding:10vw;}
    
}
*/

/*@media only screen and (min-width: 960px, max-width:1150px) {*/

/*767px*/

 @media only screen and (min-width:500px, max-width:959px) {
/*
    .w-1-1 {padding-left:77%;padding-right:77%}
    .w-1-2 {width:30%;height:32%;}
    .w-1-3 {font-size:120%;}
*/
    .w-2-1 {padding-left:10%;padding-right:10%;}
    .w-2-2 {width:80%;height:40%;margin-left:10%;margin-right:10%;margin:3%;}
    .w-2-3 {font-size:2vw;padding-left:35px;width:80%;margin:10%;height:25px;justify-content: center;}
    .w-2-4 {height:auto;width:80%;float:left;margin-top:5%;}
    #w-2-6{height:auto;width:80%;}
    .w-2-5 {padding:5%;width:100%;height:1%;}
}
    
    @media only screen and (min-width:960px) {
/*
    .w-1-1 {padding-left:77%;padding-right:77%}
    .w-1-2 {width:30%;height:32%;}
    .w-1-3 {font-size:120%;}
*/
    .w-1-1 {padding-left:10%;padding-right:10%;}
    .w-1-2 {width:36vw;height:38vw;margin-left:10%;margin-right:10%;margin:2vw;object-fit:cover;float:left;display:flex;}
    .w-1-3 {font-size:1.5vw;float:right;margin-right;30%;margin-left:100%;margin-top:-16.5%;width:160px;height:60px;justify-content: center;}
    .w-1-4 {height:auto;width:40%;float:left;margin-top:0%;}
    #w-1-6{height:auto;width:80%;}
    .w-1-5 {padding:5%;width:100%;height:15vw;}
    .w-1-7 {float:right;margin-right:30%;margin-left:80vw;margin-top:-8%;width:160px;height:60px;justify-content: center;}
}


@media only screen and (min-width: 1151px) {
/*
    .w-1 {padding-left:100%;padding-right:100%}
    .w-2 {width:100%;height:100%;}
    .w-3 {font-size:100;}
*/
    
    .w-1 {padding-left:14%;padding-right:14%;}
    .w-2 {width:30vw;height:32vw;margin-left:10%;margin-right:10%;margin:2vw;object-fit:cover;float:left;display:flex;}
    .w-3 { float:right; margin-left:100%;justify-content: center; font-size:1.5vw;padding:30px;}
    .w-4 {margin-right:25px;}
    .w-5 {width:30vw;}
    #w-6{width:30vw;}
    .w-7 {height:30vw;padding:10vw;}
    
}



@font-face{
    font-family: ITC-Avant-Garde;
    src: url(avant-garde.woff);
}

@font-face{
    font-family: curly;
    src: url(OPTISwallow-Bold.woff);
}

@font-face{
    font-family: HNeue-M;
    src: url(HelveticaNeue-Medium.ttf);
}

@font-face{
    font-family: HNeue-Th;
    src: url(HelveticaNeue-Thin.ttf);
}

.nav-bar{
    background-color:white;
/*    height:155px;*/
/*    width:100%;*/
    position:relative;
/*    box-sizing: border-box;*/
/*    direction:ltr;*/
/*    padding:70px;*/
}

.logo{
    height:60px;
    width:auto;
    width:auto;
    float:left;
    padding-bottom:25px;
}

.nav-button{
    font-family:HNeue-Th;
/*    font-weight:1vw;*/
/*    font-size:1.25vw;*/
    color:black;
    text-decoration:underline;
/*    background-color:white;*/
/*    position:relative;*/
/*    width:8%;*/
/*    padding*/
    border-radius:15px;
    position:relative;
/*
    margin-top:50px;
    right:50px;
*/
    text-align:center;
/*    float:right;*/
/*    margin-left:10px;*/
    padding-top:25px;
    padding-bottom:25px;
    
}

.nav-button:hover{
    transition:1s;
    background-color:lavender;
/*    background-color:white;*/
    box-shadow: 2px 2px 1.5vw rgb(230, 230, 255, 10);
    cursor:pointer;
}

#work-margin-right{
    margin-right:25px;
}




/*home*/
.home-projects{
/*    margin-top:2vw;*/
    margin-bottom:5vw;
/*
    padding-left:18vw;
    padding-right:18vw;
*/

}

.home-project-imgs{
  height:30vw;
    width:auto;
    position:relative;
    z-index:1;
    object-fit:cover;
    border-radius:10px;
    justify-content: center;

    
}

.project1{
/*    margin:3vw;*/
/*
    width:26vw;
    height:27vw;
*/
    background-color:antiquewhite;
    border-radius:3vw;
    position:relative;
    align-items: center;
    display:flex;
    justify-content: center;
    overflow:hidden;
    cursor:pointer;
    object-fit: cover;
    height:100%;
    cursor:pointer;
    text-shadow:2px 2px 20px grey;

}

.project2{

/*    margin:3vw;*/
/*    float:left;*/
/*
    width:26vw;
    height:27vw;
*/
/*
    background-color:antiquewhite;
    border-radius:3vw;
    position:relative;
    align-items: center;
    display:flex;
    justify-content: center;
    overflow:hidden;
    text-shadow:2px 2px 20px grey;
    object-fit:cover;
    height:100%;
    object-fit:cover;
    
*/
     background-color:antiquewhite;
    border-radius:3vw;
    position:relative;
    align-items: center;
    display:flex;
    justify-content: center;
    overflow:hidden;
    cursor:pointer;
    object-fit: cover;
    height:100%;
    cursor:pointer;
    text-shadow:2px 2px 20px grey;
}

/*
.project2 img{
    object-position:left;overflow: hidden;
    object-fit: cover;
}
*/

.project3{
/*    margin:3vw;*/
    float:left;
/*
    width:26vw;
    height:27vw;
*/
    background-color:antiquewhite;
    border-radius:3vw;
    position:relative;
    align-items: center;
    display:flex;
    justify-content: center;
    overflow:hidden;
    cursor:pointer;
    text-shadow:2px 2px 20px grey;
    height:100%;
}

/*
.project3 img{
    height:102%;object-position:left;overflow: hidden;
}
*/


.project4{
/*    margin:3vw;*/
    float:left;
/*
    width:26vw;
    height:27vw;
*/
    background-color:antiquewhite;
    border-radius:3vw;
    position:relative;
    align-items: center;
    display:flex;
    justify-content: center;
    overflow:hidden;
    cursor:pointer;
    text-shadow:2px 2px 20px grey;
    height:100%;

}

/*
.project4 img{
    height:105%; 
    object-fit:cover;
    object-position: 32%; 
    overflow:hidden;
}
*/


.project-1-Text{
     font-family:HNeue-M;
    font-size:4vh;
/*    font-weight:bolder;*/
    line-height: 5vh;
    text-align:center;
    color:white;
    position:absolute;
    z-index:2;
    visibility:hidden;
    opacity:0;
    transition: visibility 0s, opacity 0.8s;
}

.project-1-Text-on{
     visibility:visible;
    opacity:1;
}


.project-2-Text{
     font-family:HNeue-M;
    font-size:4vh;
/*    font-weight:bolder;*/
    line-height: 5vh;
    text-align:center;
    color:white;
    position:absolute;
    z-index:2;
    visibility:hidden;
    opacity:0;
    transition: visibility 0s, opacity 0.8s;
}

.project-2-Text-on{
     visibility:visible;
    opacity:1;
}


.project-3-Text{
     font-family:HNeue-M;
    font-size:4vh;
/*    font-weight:bolder;*/
    line-height: 5vh;
    text-align:center;
    color:white;
    position:absolute;
    z-index:2;
    visibility:hidden;
    opacity:0;
    transition: visibility 0s, opacity 0.8s;
}

.project-3-Text-on{
     visibility:visible;
    opacity:1;
}


.project-4-Text{
     font-family:HNeue-M;
    font-size:4vh;
/*    font-weight:bolder;*/
    line-height: 5vh;
    text-align:center;
    color:white;
    position:absolute;
    z-index:2;
    visibility:hidden;
    opacity:0;
    transition: visibility 0s, opacity 0.8s;
}

.project-4-Text-on{
     visibility:visible;
    opacity:1;
}



/*
.info-block{
    margin-top:17vh;
    margin-left:5vw;
    margin-bottom: 12vh;
    background-color: black;
    text-align:left;
    display:flex;
    position:relative;
    border-radius:8vw 8vw 8vw 0.5vw;
    padding:5vw;
    margin-right:5vw;

}
*/



/*
.info-block-right-text{
    float:right;
    text-align:left;
    color:white;
    font-family:HNeue-Th;
    font-size:2.5vh;
    letter-spacing: normal;
    line-height:3.75vh;
    padding-top:22vh;
    width:40%;
    padding-bottom:8vh;
    padding-left:15vw;
    position:relative;
}
*/

/*
.info-text-size{
    position:absolute;
    color:white;
    font-family:HNeue-M;
    font-size:4vw;
    line-height: 8vw;
    padding-top:8vh;
    padding-left:15vw;
    padding-bottom:10vh;
}
*/

/*
.video{
    width:100vw;
    height:50vw;
    display:flex;
    justify-content: center;
    align-items:center;
    top:5vw;
    margin-top:8vw;
    margin-left: 14vw;
    margin-bottom:5vw;
    position:relative;
    
}
*/

/*
.video,iframe{
    width:70vw;
    height:39.35vw;
}
*/

/*
.bottom-of-page{
    display:flex;
    justify-content:center;
    height:44vw;
    width:100vw;
}
    
*/
/*
    .bottom-buttons{
        float:left;
        margin-left:5,75vw;
        margin-top:15vw;
        margin-bottom:15vhs;
        position:absolute;
        cursor:pointer;
    }
*/
    
/*
    .buttons-pgs{
        float:left;
        background-color:lavender;
        color:black;
        font-family:HNeue-Th;
        font-size:2vh;
        text-decoration:underline;
        padding:2.2vh;
        border-radius:15px;
        margin:1vw;
    }
    
    .buttons-pgs:hover{
        transition:1s;
        background-color:white;
        box-shadow: 2px 2px 3vw rgba(190, 190, 225 ,20);
    }
*/
    
    
/*
.bottom-text{
    font-family: HNeue-Th;
    font-size:2vw;
    line-height:3.5vw;
    color:black;
    margin-top:30vw;
    position:absolute;
    text-align:center;  
}
*/


.header{
    position:relative;
}

.project-header{
    background-color:antiquewhite;
    margin-top:-30vw;
    margin-left:12vw;
    display:flex;
    width:35vw;
    height:39vw;
    position:absolute;
    z-index:1;
    border-radius:10px;
    overflow: hidden;
    
}

#wdc-img{
    height:100vw;
    object-position: center;
}

.project-title{
    font-family: ITC-Avant-Garde;
    font-weight:bolder;
    font-size:5vw;
    line-height:3vw;
    color:black;
    margin-top:38vw;
    margin-left:55vw;
    position:relative;
    z-index:2;
    text-align:left;
}

.project-text{
   position:absolute;
    
    z-index:2;
    float:left;
    width:40vw;
    margin-top:20vw;
    margin-left:52vw;
}


.project-imgs{
    position:relative;
    width:35vw;
    z-index:2;
    float:left;
    margin-left:12vw;
    margin-top:20vw;
    
}

.text-header{
    font-family: ITC-Avant-Garde;
    font-weight:bolder;
    font-size:5vw;
    line-height:2vw;
    color:black;
    float:right;
}

.subheaders{
    font-family: sans-serif;
    font-weight:bolder;
    font-size:0.8vw;
    line-height:2vw;
    color:black;
    margin-bottom:1vw;
    margin-top:4vw;
}

.text{
    margin-bottom:20vw;
    font-family:sans-serif;
    font-size:1vw;
    line-height:2vw;
    color:black;
}

.centered-items{
    position:absolute;
    z-index:1;
    width:76vw;
    height:140vw;
    margin-top:21vw;
    margin-left:12vw;
    
}

.centered-img{
    width:76vw;
    height:30vw;
    border-radius:10px;
    object-fit:cover;
    overflow:hidden;
    margin-top:56.5vw;
}

.img-proportions{
    height:45vw;
    object-fit:cover;
    object-position: bottom 20%; 
}

.ind-imgs{
width:35vw;
    height:28.5vw;
    border-radius:10px;
    object-fit:cover;
    float:right;
    
}

#user-flow{
    width:40vw;
    height:28.5vw;
}


#myBtn {
  display: none; 
  position: fixed; 
  bottom: 50px; 
  right: 50px; 
  z-index: 99; 
  border: none;
  outline: none;
  background-color: lightcoral; 
  color: white; 
  cursor: pointer; 
  padding: 25px; 
  border-radius: 50px; 
  font-size: 18px; 
}

#myBtn:hover {
  background-color: #555; 
}

#Next{
    margin-top:5vw;
    margin-left:40vw;
    border:none;
    outline:none;
    background-color:white;
    color:black;
    cursor:pointer;
    padding:2vw;
    border-radius:50px;
    font-size:1.5vw;
    justify-content: center;
    display: flex;
    text-decoration:none
}

#Next:hover{
    background-color: antiquewhite;
}
    
/*    }*/