/*@media only screen and (min-width: 992px) {*/
* {
    box-sizing: border-box;
}

body {
    /*    background-color:white;*/
    background-image: linear-gradient(white 20%, antiquewhite 30%, lavender);
    margin: 0;
}

img {
    width: 100%;
    height: 100%;

}

[class *="w-"] {
    float: left;
    padding: 15px;
    width: 100%;
    ;
}

/*767px*/

@media only screen and (min-width:500px) {

    .w-2-home-projects {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .w-2-2 {
        width: 80vw;
        height: 32vh;
        /*        margin-top:3vh; */
        margin-bottom: 7vh;
        background-color: antiquewhite;
        position: relative;
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: hidden;
/*        object-position: left;*/
        object-fit: cover;
        cursor: pointer;
        border-radius: 10vw;
        text-shadow: 2px 2px 20px grey;
    }

    .w-2-nButtons {
        display: none;
    }

    .w-2-4 {
        height: auto;
        width: 60vw;
        float: left;
        display: flex;

    }

    #w-2-6 {
        height: auto;
        width: 80%;
    }

    .w-2-5 {
        padding: 5%;
        width: 100%;
        height: 1%;
        justify-content: center;
        display: flex;
        align-content: center;
    }

    #w-2-7 {
        width: 80vw;
        object-position: top;
    }

    #w-2-8 {
        /*        object-fit: cover; */
        width: 80vw;
        object-position: left;
    }

    #w-2-9 {
        /*        object-fit: cover; */
        width: 80vw;
        object-position: left;
    }

    #w-2-10 {
        /*        object-fit: cover; */
        width: 80vw;
        object-position: left;
    }

    .w-2-11 {
        position: absolute;
        display: grid;
        justify-content: center;
        margin-top: 7.5%;
        margin-right: 5%;
        margin-left: 80%;
        /*         margin:5%;*/
        /*         direction:rtl;*/
        width: 15%;
        /*         border:black solid 1px;*/
        cursor: pointer;
        z-index: 80;
        transition: 1s;

    }

    .w-2-12 {
        background-color: black;
        width: 6vw;
        height: 0.2vw;
        margin-bottom: 10px;
        padding: 0;
        display: flex;
    }

    .w-2-13 {
        background-color: black;
        position: absolute;
        width: 6vw;
        height: 0.2vw;
        display: block;
        padding: 0;
        margin-top: 3vw;
        margin-left: 4vw;
        transform: rotate(45deg);
    }

    .w-2-14 {
        background-color: black;
        position: absolute;
        width: 6vw;
        height: 0.2vw;
        display: flex;
        padding: 0;
        margin-top: 3vw;
        margin-left: 4vw;
        transform: rotate(-45deg);
    }

    .w-2-15 {
        background-color: lavender;
        position: absolute;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        margin-top: 0;
        margin-left: 0;
        display: none;
        transition: 1s;
    }

    .w-2-16 {
        position: absolute;
        display: grid;
        justify-content: center;
        margin-top: 6.5%;
        margin-right: 12%;
        margin-left: 80%;
        /*         margin:5%;*/
        /*         direction:rtl;*/
        width: 15%;
        /*         border:black solid 1px;*/
        cursor: pointer;
        transition: 1s;

    }

    #w-2-17 {
        height: auto;
        width: 68.5%;
        margin-left: 15.75%;
        justify-content: center;
        display: block;
    }



}

@media only screen and (min-width:960px) {

    .w-1-1 {
        padding-left: 10vw;
        padding-right:10vw;
    }

    .w-1-2 {
        width: 36vw;
        height: 38vw;
        /*        margin-top:3vh; */
        margin: 2vw;
        background-color: antiquewhite;
        position: relative;
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: hidden;
/*        object-position: left;*/
/*        object-fit: cover;*/
        cursor: pointer;
        border-radius: 5vw;
        text-shadow: 2px 2px 20px grey;
      
    }

    .w-1-3 {
        font-size: 1.5vw;
        float: right;
        width: 140px;
        height: 30px;
        display: inline;
    }

    .w-1-4 {
        width: 40%;
        height: auto;
        float: left;
        margin-top: 0%;
    }

    #w-1-6 {
        height: auto;
        width: 80%;
    }

    .w-1-5 {
        padding: 5%;
        width: 100%;
        height: 5%;
        display: inline-grid;
        position: relative;
    }

    #w-1-7 {
/*        height: 38vw;*/
        width: 50%;
/*        align-content: stretch;*/
        object-position: left;
    }

    #w-1-8 {
        /*        object-fit: cover; */
/*        height: 42vw;*/
        width:42vw;
        object-position: left;
    }

    #w-1-9 {
/*       height: 42vw;*/
        width:50%;
    object-position: left;
    }

    #w-1-10 {
/*        height:38vw;*/
        width:50%;
        object-position: left;
    }

    .w-1-11 {
        display: none;
    }

    .w-1-15 {
        display: none;
    }

}


@media only screen and (min-width: 1151px) {
    /*
    .w-1 {padding-left:100%;padding-right:100%}
    .w-2 {width:100%;height:100%;}
    .w-3 {font-size:100;}
*/

    .w-1 {
        padding-left: 14%;
        padding-right: 14%;
    }

    .w-2 {
        width: 30vw;
        height: 32vw;
        margin-left: 10%;
        margin-right: 10%;
        margin: 2vw;
        object-fit: cover;
        float: left;
        display: flex;
        border-radius: 3vw;
        background-color: antiquewhite;
        position: relative;
        align-items: center;
        display: block;
        justify-content: center;
        overflow: hidden;
        cursor: pointer;
        object-fit: cover;
        text-shadow: 2px 2px 20px grey;
    }

    .w-3 {
        float: right;
        margin-left: 100%;
        justify-content: center;
        font-size: 1.5vw;
        padding: 30px;
        display: flex;
    }

    .w-4 {
        margin-right: 25px;
    }

    .w-5 {
        width: 30vw;
    }

    #w-6 {
        width: 30vw;
    }

    .w-7 {
        height: 30vw;
        padding: 10vw;
    }

    .w-11 {
        display: none;
    }

    .w-15 {
        display: none;
    }

}



@font-face {
    font-family: ITC-Avant-Garde;
    src: url(avant-garde.woff);
}

@font-face {
    font-family: curly;
    src: url(OPTISwallow-Bold.woff);
}

@font-face {
    font-family: HNeue-M;
    src: url(HelveticaNeue-Medium.ttf);
}

@font-face {
    font-family: HNeue-Th;
    src: url(HelveticaNeue-Thin.ttf);
}




.nav-bar {
    background-color: white;
    position: relative;

}

.logo {
    height: 60px;
    width: auto;
    width: auto;
    float: left;
    padding-bottom: 25px;
}

.nav-button {
    font-family: HNeue-Th;
    /*    font-weight:1vw;*/
    /*    font-size:1.25vw;*/
    color: black;
    text-decoration: underline;
    /*    background-color:white;*/
    /*    position:relative;*/
    /*    width:8%;*/
    /*    padding*/
    border-radius: 15px;
    position: relative;
    /*
    margin-top:50px;
    right:50px;
*/
    text-align: center;
    /*    float:right;*/
    /*    margin-left:10px;*/
    padding-top: 25px;
    padding-bottom: 25px;

}

.nav-button:hover {
    transition: 1s;
    background-color: lavender;
    /*    background-color:white;*/
    box-shadow: 2px 2px 1.5vw rgb(230, 230, 255, 10);
    cursor: pointer;
}

#work-margin-right {
    margin-right: 25px;
}




/*home*/
.home-projects {
    /*    margin-top:2vw;*/
    margin-bottom: 5vw;
    /*
    padding-left:18vw;
    padding-right:18vw;
*/

}

.home-project-imgs {
    height: 30vw;
    width: auto;
    position: relative;
    z-index: 1;
    object-fit: cover;
    border-radius: 10px;
    justify-content: center;



}

.project1 {
    justify-content: center;
    display: flex;
    align-items: center;

}

.project2 {
    justify-content: center;
    display: flex;
    align-items: center;
}



.project3 {

    justify-content: center;
    display: flex;
    align-items: center;
}

.project4 {

    justify-content: center;
    align-items: center;
    display: flex;
}




.project-1-Text {
    font-family: HNeue-M;
    font-size: 4vh;
    /*    font-weight:bolder;*/
    line-height: 5vh;
    text-align: center;
    color: white;
    position: absolute;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.8s;

    justify-content: center;
    display: flex;
    align-items: center;
}

.project-1-Text-on {
    visibility: visible;
    opacity: 1;
}


.project-2-Text {
    font-family: HNeue-M;
    font-size: 4vh;
    /*    font-weight:bolder;*/
    line-height: 5vh;
    text-align: center;
    color: white;
    position: absolute;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.8s;

    justify-content: center;
    display: flex;
    align-items: center;
}

.project-2-Text-on {
    visibility: visible;
    opacity: 1;
}


.project-3-Text {
    font-family: HNeue-M;
    font-size: 4vh;
    /*    font-weight:bolder;*/
    line-height: 5vh;
    text-align: center;
    color: white;
    position: absolute;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.8s;

    justify-content: center;
    display: flex;
    align-items: center;
}

.project-3-Text-on {
    visibility: visible;
    opacity: 1;
}


.project-4-Text {
    font-family: HNeue-M;
    font-size: 4vh;
    /*    font-weight:bolder;*/
    line-height: 5vh;
    text-align: center;
    color: white;
    position: absolute;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.8s;

    justify-content: center;
    display: flex;
    align-items: center;
}

.project-4-Text-on {
    visibility: visible;
    opacity: 1;
}



.info-block {
    margin-top: 17vh;
    margin-left: 10vw;
    margin-bottom: 12vh;
    background-color: black;
    /*    text-align:left;*/
    /*    display:flex;*/
    position: relative;
    border-radius: 8vw 8vw 8vw 0.5vw;
    padding: 8vw;
    margin-right: 10vw;
    justify-content: center;
    display: flex;

}



/*
.info-block-right-text{
    float:right;
    text-align:left;
    color:white;
    font-family:HNeue-Th;
    font-size:2.5vh;
    letter-spacing: normal;
    line-height:3.75vh;
    padding-top:22vh;
    width:40%;
    padding-bottom:8vh;
    padding-left:15vw;
    position:relative;
}
*/

/*
.info-text-size{
    position:absolute;
    color:white;
    font-family:HNeue-M;
    font-size:4vw;
    line-height: 8vw;
    padding-top:8vh;
    padding-left:15vw;
    padding-bottom:10vh;
}
*/

.video {
    /*
    width:100vw;
    height:50vw;
*/
    /*
    display:flex;
    justify-content: center;
*/
    align-items: center;
    /*    top:5vw;*/
    /*    margin-top:8vw;*/
    /*    margin-left: 14vw;*/
    /*    margin-bottom:5vw;*/
    position: relative;

}

.video,
iframe {
    width: 45vw;
    height: 30vw;
    border-radius: 4vw;
}

.bottom-of-page {
    display: flex;
    justify-content: center;
    height: 44vw;
    width: 100vw;
}

.bottom-buttons {
    float: left;
    margin-left: 5, 75vw;
    margin-top: 15vw;
    margin-bottom: 15vhs;
    position: absolute;
    cursor: pointer;
}

.buttons-pgs {
    float: left;
    background-color: lavender;
    color: black;
    font-family: HNeue-Th;
    font-size: 2vh;
    text-decoration: underline;
    padding: 2.2vh;
    border-radius: 15px;
    margin: 1vw;
}

.buttons-pgs:hover {
    transition: 1s;
    background-color: white;
    box-shadow: 2px 2px 3vw rgba(190, 190, 225, 20);
}


.bottom-text {
    font-family: HNeue-Th;
    font-size: 2vw;
    line-height: 3.5vw;
    color: black;
    margin-top: 30vw;
    position: relative;
    text-align: center;
}


.header {
    position: relative;
}

.project-header {
    background-color: antiquewhite;
    margin-top: -30vw;
    margin-left: 12vw;
    display: flex;
    width: 35vw;
    height: 39vw;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;

}

#wdc-img {
    height: 100vw;
    object-position: center;
}

.project-title {
    font-family: ITC-Avant-Garde;
    font-weight: bolder;
    font-size: 5vw;
    line-height: 3vw;
    color: black;
    margin-top: 38vw;
    margin-left: 55vw;
    position: relative;
    z-index: 2;
    text-align: left;
}

.project-text {
    position: absolute;

    z-index: 2;
    float: left;
    width: 40vw;
    margin-top: 20vw;
    margin-left: 52vw;
}


.project-imgs {
    position: relative;
    width: 35vw;
    z-index: 2;
    float: left;
    margin-left: 12vw;
    margin-top: 20vw;

}

.text-header {
    font-family: ITC-Avant-Garde;
    font-weight: bolder;
    font-size: 5vw;
    line-height: 2vw;
    color: black;
    float: right;
}

.subheaders {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 0.8vw;
    line-height: 2vw;
    color: black;
    margin-bottom: 1vw;
    margin-top: 4vw;
}

.text {
    margin-bottom: 20vw;
    font-family: sans-serif;
    font-size: 1vw;
    line-height: 2vw;
    color: black;
}

.centered-items {
    position: absolute;
    z-index: 1;
    width: 76vw;
    height: 140vw;
    margin-top: 21vw;
    margin-left: 12vw;

}

.centered-img {
    width: 76vw;
    height: 30vw;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
    margin-top: 56.5vw;
}

.img-proportions {
    height: 45vw;
    object-fit: cover;
    object-position: bottom 20%;
}

.ind-imgs {
    width: 35vw;
    height: 28.5vw;
    border-radius: 10px;
    object-fit: cover;
    float: right;

}

#user-flow {
    width: 40vw;
    height: 28.5vw;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: lightcoral;
    color: white;
    cursor: pointer;
    padding: 25px;
    border-radius: 50px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #555;
}

#Next {
    margin-top: 5vw;
    margin-left: 40vw;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 2vw;
    border-radius: 50px;
    font-size: 1.5vw;
    justify-content: center;
    display: flex;
    text-decoration: none
}

#Next:hover {
    background-color: antiquewhite;
}

/*    }*/
