html, body {
    background-color:white;
    margin:0;
}

.nav-bar{
    background-color:white;
    margin:0;
    height:85px;
    width:100vw;
    z-index:2;
    position:relative;
    direction:"ltr";
}

.nav-bar, hr{
    color:black;
    opacity:100%;
    margin:auto;
    border:1px outset;
    
}

.nav-button{
    direction:"ltr";
    margin:22.5px;
    text-align:right;
    position:relative;
    z-index:2;
}

/*
.home-image{
    position:relative;
    margin-top:7.5vw;
    margin-bottom:2vw;
    margin-left:15vw;
    width:100vw;
    height:40vw;
    z-index: 1;
}
*/

.home-image{
    position:relative;
    margin-top:-6vw;
    margin-bottom:2vw;
    margin-left:0;
    width:100vw;
    height:40vw;
    z-index: 1;
}

.quadrant{
    position:relative;
    width:70vw;
    height:87vw;
    margin-top:15vw;
/*    margin-bottom:15vw;*/
    z-index:1;
}


.home-ibdStrong-og{
    position:absolute;
    z-index:1;
    margin-left:15vw;
    float:left;
/*    direction:"ltr";*/
}

.home-ibdStrong-og .alt-ibdStrong{
    position:absolute;
    left:0;
    top:0;
    display:none;
}

.home-ibdStrong-og:hover .alt-ibdStrong{
    display:block;
    
}

.home-theBulletin-og{
    position:absolute;
    z-index:1;
    margin-left:38vw;
    float:left;
}

.home-theBulletin-og .alt-theBulletin{
    position:absolute;
    left:0;
    top:0;
    display:none;
}

.home-theBulletin-og:hover .alt-theBulletin{
    display:block;
}

.home-upMarket-og{
    position:absolute;
    z-index:1;
    margin-left:61vw;
    float:left;
}

.home-upMarket-og .alt-upMarket{
    position:absolute;
    left:0;
    top:0;
    display:none; 
}

.home-upMarket-og:hover .alt-upMarket{
    display:block;
}

.home-renaissance-og{
    position:absolute;
    z-index:1;
    margin-top:23vw;
    margin-left:15vw;
/*    float:left;*/
}

.home-renaissance-og .alt-renaissance{
   position:absolute;
    left:0;
    top:0;
    display:none;
    
}

.home-renaissance-og:hover .alt-renaissance{
    display:block;
}

.home-spectrum-og{
    position:absolute;
    z-index:1;
    margin-top:23vw;
    margin-left:38vw;
/*    float:left;*/
}

.home-spectrum-og .alt-spectrum{
    position:absolute;
    left:0;
    top:0;
    display:none;
    
}

.home-spectrum-og:hover .alt-spectrum{
    display:block;
}

.home-WDC-og{
    position:absolute;
    z-index:1;
    margin-top:23vw;
    margin-left:61vw;
}

.home-WDC-og .alt-WDC{
    position:absolute;
    left:0;
    top:0;
    display:none;
}

.home-WDC-og:hover .alt-WDC{
    display:block;
    
}

.reel{
   background-color:black;
    height:54vw;
    width:100vw;
    position:absolute;
    top:115vw;
}

.bottom{
    background-color:black;
    height:33.75vw;
    width:100vw;
    position:relative;
    z-index:1;
    
}

#next-project{
    height:3.25vw;
    width:auto;
    padding-top:5vw;
/*    text-align:right;*/
    position:relative;
/*    padding-left:72vw;*/
/*    padding-left:71.75vw;*/
    padding-right:5vw;
    
}

#reel{
    align-items:center;
    width:60vw;
    height:33.75vw;
    margin-top:10vw;
    margin-left:20vw;
    
}

.bottom-of-page{
    width:100vw;
    height:30vw;
    background-color:white;
}

.bottom-page-items img{
    color:black;
    position:relative;
/*    text-align:left;*/
    direction:ltr;
    padding:0.25vw;
/*    margin-top:10vw;*/
    height:2.2vw;
    width:auto;
    margin-top:5vw;
/*    margin-left:5vw;*/
}

#bottom-logo{
    height:40px;
    width:auto;
    margin-left:47.5vw;
    margin-top:5vw;
    margin-bottom:1.5vw;
}

.menu-buttons{
    text-align:right;
    margin-right:25px;
/*    margin-left:72vw;*/
    margin-top:-61.5px;
}
.menu-buttons img{
   height:35px;
    width:auto;
/*    margin-top:-17px;*/
/*    margin-left:vw;*/
    padding-right:2vw;
    direction:ltr;
    position:relative;
    text-decoration:none;
}

.connect-fixed{
    text-align:right;
    margin-top:50px;
    margin-right:84px;
}

.connect-fixed img{
    height:30px;
    width:auto;
/*    margin-top:4.5vw;*/
/*    padding-top:2vw;*/
/*    margin-left:94vw;*/
    position:fixed;
    
}

.bottom-signature{
/*    height:5vw;*/
   font-family:sans-serif;
/*    margin-top:5vw;*/
    font-size:13px;
    text-align:center;
    margin-bottom:2vw;
    background-color:black;
}


.middle-content{
    margin-top:10vw;
    margin-left:10vw;
    margin-bottom:10vw;
    position:relative;
    z-index:3;
}

.middle-content img{
    width: 25vw;
    height:auto;
}

#bg-img{
    width:100vw;
    height:auto;
/*    margin-top:85px;*/
    margin-left:0vw;
    position:absolute;
    z-index:1;
}

.bg-middle-content{
    position:relative;
    z-index:2;
    background-color:white;
    width: 45vw;
    height: 45vw;
    margin-top:-28vw;
    margin-left:25vw;
    padding:2vw;
    border-radius:5vw;
}