body {
/*    background-color:white;*/
/*    background-image:linear-gradient(white 20%, antiquewhite 30%, lavender);*/
    margin:0;
/*
    scroll-behavior: inherit;
scroll-behavior: initial;
scroll-behavior: revert;
scroll-behavior: revert-layer;
scroll-behavior: unset;
*/
}

@font-face{
    font-family: ITC-Avant-Garde;
    src: url(avant-garde.woff);
}

@font-face{
    font-family: curly;
    src: url(OPTISwallow-Bold.woff);
}

@font-face{
    font-family: HNeue-M;
    src: url(HelveticaNeue-Medium.ttf);
}

@font-face{
    font-family: HNeue-Th;
    src: url(HelveticaNeue-Thin.ttf);
}


 .nav-bar{
    background-color:white;
    height:100px;
    width:100vw;
    position:relative;
    box-sizing: border-box;
    direction:ltr;
}

.name{
    font-family: HNeue-M;
    font-weight:bolder;
    font-size:4vw;
    color:black;
    background-color:white;
    margin-top:50px;
    margin-left:50px;
    position:relative;
    float:left;
    
}

.work-button{
    font-family:HNeue-Th;
    font-weight:1vw;
    font-size:2vh;
    color:black;
    text-decoration:underline;
    background-color:white;
    position:relative;
    width:8%;
    border-radius:15px;
    margin-top:50px;
    right:50px;
    text-align:center;
    padding:20px;
    float:right;
    
}

.work-button:hover{
    transition:1s;
    background-color:lavender;
/*    background-color:white;*/
        box-shadow: 2px 2px 1.5vw rgb(230, 230, 255, 10);
    cursor:pointer;
}

.contact-button{
    font-family:HNeue-Th;
    font-weight:1vw;
    font-size:2vh;
    color:black;
    background-color:white;
    position:relative;
    text-decoration:underline;
    width:8%;
    border-radius:15px;
    right:50px;
    margin-top:50px;
    margin-left:2%;
    text-align:center;
    padding:20px;
    float:right;
}

.contact-button:hover{
    transition:1s;
    background-color:lavender;
    box-shadow: 2px 2px 1.5vw rgb(230, 230, 255, 10);
    cursor:pointer;
}

.bottom-of-page{
    display:flex;
    justify-content:center;
/*    align-items:center;*/
    height:44vw;
    width:100vw;
}
    
    .bottom-buttons{
        float:left;
/*        display:flex;*/
/*        justify-content:center;*/
        margin-left:5,75vw;
        margin-top:12vh;
        margin-bottom:15vh;
/*        margin-right:20vw;*/
        position:absolute;
        cursor:pointer;
    }
    
    .buttons-pgs{
        float:left;
        background-color:lavender;
        color:black;
        font-family:HNeue-Th;
        font-size:1.5vh;
        text-decoration:underline;
        padding:2.2vh;
        border-radius:15px;
        margin:1vw;
    }
    
    .buttons-pgs:hover{
        transition:1s;
        background-color:white;
        box-shadow: 2px 2px 3vw rgba(190, 190, 225 ,20);
    }
    
    
.bottom-text{
    font-family: HNeue-Th;
/*    font-weight:bolder;*/
    font-size:2vw;
    line-height:3.5vw;
/*    width:100vw;*/
    color:black;
/*    background-color:white;*/
    margin-top:30vw;
/*    margin-left:-4vw;*/
/*    margin-left:50vw;*/
    position:absolute;
    text-align:center;
    
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 50px; 
  right: 50px; 
  z-index: 99; 
  border: none;
  outline: none;
  background-color: lightcoral; 
  color: white; 
  cursor: pointer; 
  padding: 25px; 
  border-radius: 50px; 
  font-size: 18px; 
}

#myBtn:hover {
    transition:1s;
  background-color: #555; 
}



.header{
/*    display:flex;*/
    justify-content: center;
    width:100vw;
    position:relative;
    margin-top:7vw;
}

#header-text-1{
    display:flex;
    justify-content: center;
    position:relative;
    font-size:1.2vh;
/*    line-height:5.8vw;*/
    font-family:HNeue-Th;
    letter-spacing: 0.2vw;
/*    margin-left:37vw;*/
    text-align: center;
    width:100vw;
/*    padding:1vw;*/

}

#header-text-2{
    display:flex;
    justify-content: center;
    position:relative;
    font-size:4.5vw;
/*    line-height:5.8vw;*/
    font-family:HNeue-M;
    letter-spacing: 0.2vw;
    margin-left:20vw;
    margin-top:1vw;
    width:60vw;
/*    padding:1vw;*/


}

#header-img{
    width:60vw;
    height:40vh;
    object-fit: cover;
    display:flex;
    position:relative;
    justify-content: center;
    border-radius:5vw;
    overflow:hidden;
    margin-top:1vw;
    margin-left:20vw;

}

#header-img img{
    justify-content: center;
    display: flex;
    width:60vw;
    object-fit: cover;
    display:flex;
    object-position: center;
/*    padding-top:-5vw;*/
    
}

.header-line{
    background-color:black;
    justify-content: center;
    width:60vw;
    display:flex;
    height:0.18vw;
    margin-top:1vw;
    margin-left:20vw;
}

.ch-header-line-h{
background-color:black;
/*
    justify-content: center;
    display:flex;
    align-content: center;
*/
/*    width:68vw;*/
    width:60vw;
    display:flex;
    height:0.18vw;
/*    margin-top:1vw;*/
/*    margin-left:12vw;*/
    margin-left:20vw;

    position:relative;
    z-index:1;
    
    }

.ch-header{
    color:black;
    font-size:2.2vh;
    letter-spacing:0.4vw;
    margin-top:15vh;
    margin-left:20vw;
    position:relative;
    z-index:10;
    font-family:HNeue-M;
    display:flex;
    float:left;
    width:60vw;
}

.chapter-1{
    justify-content:center;
    display: flex;
    width:100vw;
    position:relative;
    margin-top:5vh;
/*    border:5vw;*/
}

.ch1-img img{
   width:50vh;
    height:50vh;
    padding-left:5vw;
    padding-right:5vw;
/*    justify-content: center;*/
/*    display: flex;*/
/*    margin-left: 35vw;*/
    position:relative;
    z-index:1;
}

.ch1-txt{
    position:absolute;
    z-index:2;
    font-size:1.5vh;
/*    line-height:5.8vw;*/
    font-family:HNeue-Th;
}

#title-txt{
    margin-top:18vh;
    margin-left:-67vh; 
}

#title-line{
    width:18vh;
    margin-top:20vh;
    margin-left:-62vh;
}

#author-txt{
    margin-top:0.5vh;
    margin-left:-60vh;
}

#author-line{
    width:10.5vh;
    margin-top:2.5vh;
    margin-left:-58.5vh;
}

#graphic-txt{
    margin-top:30vh;
    margin-left:70vh;
    width:18vh;
    text-align: right;
    line-height:2vh;
}

#graphic-line{
    width:21vh;
    margin-top:32vh;
    margin-left:67vh;
}

#logo-txt{
    margin-top:52vh;
    margin-left:25vh;
    width:20vh;
    text-align: left;
    line-height:2vh;
}

#logo-line{
    height:5vh;
    margin-left:3vh;
    margin-top:49vh;
}

#logo-line-2{
    width:4.4vh;
    margin-left:7.25vh;
    margin-top:54vh;
}

.ch1-line-h{
    background-color:black;
/*    justify-content: center;*/
/*    width:60vw;*/
/*    display:flex;*/
    height:0.1vw;
/*    margin-top:1vw;*/
/*    margin-left:20vw;*/
    position:absolute;
    z-index:2;
}

.ch1-line-v{
    background-color:black;
/*    justify-content: center;*/
    width:0.1vw;
/*    display:flex;*/
/*    height:0.18vw;*/
/*    margin-top:1vw;*/
/*    margin-left:20vw;*/
    position:absolute;
    z-index:2;
}



.ch2{
     color:black;
    font-size:1.5vh;
    margin-top:1vw;
    margin-left:1vw;
    position:relative;
/*    z-index:10;*/
    font-family:HNeue-Th;
    display:flex;
    float:left; 
    line-height:2vh;
    height:25vh;
}

.ch2-txt{
/*    margin-bottom:15vw;*/
}


.final{
   width:100vw;
    height:70vh;
/*    background-color:orangered;*/
    margin-top:58vh;
/*    margin-left:15vw;*/
/*    margin-bottom:15vh;*/
    justify-content: center;
    display:flex;
    border-radius:5vw;
    overflow:hidden;
/*    object-fit: cover;*/
}

#final-bg{
    justify-content: center;
    display:flex;
    z-index:1;
    position:absolute;
    object-fit: cover;
    width:60vh;
    height:70vh;
    overflow: hidden;
    border-radius:5vw;
}

.final-txt{
    position:absolute;
    z-index:2;
    color:white;
    font-family:HNeue-M;
    font-size:9.5vh;
    margin-top:2vw;
}

.final-imgs{
    width:31vh;
    height:60vh;
/*    padding:1vw;*/
    position:absolute;
    z-index:2;
    margin-top:12.5vh;
/*    margin-left:2;*/
    overflow: hidden;
    justify-content: center;
/*    display: flex;*/
    

}

#final-imgs{
    float:left;
    background-color:lavender;
    width:9.8vh;
    height:9.8vh;
    padding:0.2vh;
    object-fit: cover;
    
}

.text-on{
    visibility:visible;
    opacity:1;
}

.text-off{
    visibility:hidden;
    opacity:0;
    transition:visibility 0s, opacity 0.5s;
}

.container{
    position:absolute;
    box-sizing:border-box;
/*    margin-top:10vw;*/
/*    margin-bottom:12vw;*/
    margin-left:10vw;
    width:60vw;
    height:70vw;
    border-radius:10px;
}

.resize-container{
    justify-content: center;
    display:flex;
}

.mySlides{
    display:none;
    justify-content: center;
    display:flex
}


.prev, .next{
     cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
/*  margin-top: -30vh;*/
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: lavender;
}

.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 8%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


#square-project{
    width:50vh;
/*    margin-left:8vw;*/
    border-radius:2vw;
        justify-content:center;
/*    align-content: center;*/
    display:flex;

}

#rihanna-project{
    width:23vw;
    margin-left:20.5vw;
    border-radius:2vw;
/*    justify-content:center;*/
}

#lorde-project{
    width:24vw;
    margin-left:19.5vw;
    border-radius:2vw;
/*        justify-content:center;*/
/**/
}