body {
    background-color:white;
    margin:0;
}

@font-face{
    font-family: ITC-Avant-Garde;
    src: url(avant-garde.woff);
}
.nav-bar{
    background-color:white;
    height:100px;
    width:100vw;
    position:relative;
    box-sizing: border-box;
/*    float:left;*/
    direction:ltr;
}

.name{
    font-family: ITC-Avant-Garde;
    font-weight:bolder;
    font-size:4vw;
    color:black;
    background-color:white;
    margin-top:50px;
    margin-left:50px;
    position:relative;
    float:left;
    
}

.work-button{
    font-family:ITC-Avant-Garde;
    font-weight:1vw;
    font-size:1.5vw;
    color:black;
    text-decoration:underline;
    background-color:white;
    position:relative;
/*    z-index:1;*/
    width:8%;
/*    height:50px;*/
    border-radius:15px;
    margin-top:50px;
    right:50px;
    text-align:center;
    padding:20px;
    float:right;
    
}

.work-button:hover{
    background-color:antiquewhite;
    box-shadow: 5px, 5px, black;
    cursor:pointer;
}

.contact-button{
    font-family:ITC-Avant-Garde;
    font-weight:1vw;
    font-size:1.5vw;
    color:black;
    background-color:white;
    position:relative;
    text-decoration:underline;
/*    z-index:1;*/
    width:8%;
/*    height:50px;*/
    border-radius:15px;
    right:50px;
    margin-top:50px;
    margin-left:2%;
    text-align:center;
    padding:20px;
    float:right;
}

.contact-button:hover{
    background-color:antiquewhite;
    cursor:pointer;
}

.home-projects{
    margin-top:2vw;
/*    margin-bottom:5vw;*/
    margin-left:12vw;
    position:relative;
    height:120vw;
    
}

.home-project-imgs{
  height:30vw;
    width:auto;
    position:relative;
    z-index:1;
    object-fit:cover;
    border-radius:10px;
/*    object-position: 100% 0;*/
/*    object-fit:contain;*/
    
}

.myProject{
   margin:5vw;
    float:left;
    width:27vw;
    height:30vw;
    background-color:antiquewhite;
    border-radius:10px;
    position:relative;
/*    display:flex;*/
    align-items: center;
    display:flex;
    justify-content: center;
    overflow:hidden;
    cursor:pointer;
/*    object-fit: cover;*/
/*    box-shadow: 10px, 10px, 30px, black;*/
}

.projectText{
    font-family:ITC-Avant-Garde;
    font-size:2.5vw;
    font-weight:bolder;
    line-height: 3.5vw;
    text-align:center;
    color:white;
/*    background-color:antiquewhite;*/
    position:absolute;
    z-index:2;
/*    display:contents;*/
/*    margin-top:-20vw;*/
/*    margin-left:*/
    
    visibility:hidden;
    opacity:0;
    transition: visibility 0s, opacity 0.8s;
    
}



.projectText-on{
    visibility:visible;
    opacity:1;
}

.click-here{
    position:relative;
    z-index: 0;
    margin:12vw;
    width:65vw;
    height:10vw;
/*    top:120vw;*/
    
}

.click-here:hover{
    cursor:pointer;
}

.click-text{
    font-family: ITC-Avant-Garde;
    font-weight: bolder;
    font-size:4vw;
    line-height:5vw;
    color:black;
    position:relative;
    
}

.click-on{
    visibility:visible;
    opacity:1;
/*    height:80vw;*/
    margin-bottom:15vw;
}

.click-off{
    visibility:hidden;
    opacity:0;
    transition:visibility 0s, opacity 0.5s;
/*    height:10vw;*/
}

.text-on{
    visibility:visible;
    opacity:1;
}

.text-off{
    visibility:hidden;
    opacity:0;
/*    height:0vw;*/
    transition:visibility 0s, opacity 0.5s;
}

.container{
/*    display:none;*/
    position:relative;
    box-sizing:border-box;
    margin-top:-12vw;
    margin-bottom:12vw;
    margin-left:-1vw;
    width:80vw;
    height:70vw;
}

.mySlides{
    display:none;
}


.prev, .next{
     cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: coral;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 8%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.video{
    width:100vw;
    height:50vw;
/*    padding:10vw;*/
    display:flex;
    justify-content: center;
    align-items:center;
    top:12vw;    
    margin-left: 14vw;
    margin-bottom:12vw;
    position:relative;
    
}

.video,iframe{
    width:70vw;
    height:39.35vw;
}

.bottom-of-page{
    display:flex;
    justify-content:center;
    align-items:center;
    height:30vw;
    width:100vw;
/*    margin-top:2vw;*/
/*    margin-left:40vw;*/
}
.bottom-text{
    font-family: ITC-Avant-Garde;
    font-weight:bolder;
    font-size:1.5vw;
    line-height:3vw;
    color:black;
    background-color:white;
    margin-top:50px;
    margin-left:-4vw;
    position:relative;
/*    float:left;*/
    text-align:center;
    
}




/*projects*/

/*
.myProject{
   margin:5vw;
    float:left;
    width:27vw;
    height:30vw;
    background-color:antiquewhite;
    border-radius:10px;
    position:relative;
    display:flex;
    align-items: center;
    display:flex;
    justify-content: center;
    box-shadow: 10px, 10px, 30px, black;
}
*/

.header{
    position:relative;
}

.project-header{
    background-color:antiquewhite;
    margin-top:-30vw;
    margin-left:12vw;
/*    floa t:left;*/
/*    justify-content:center;*/
    display:flex;
    width:35vw;
    height:39vw;
    position:absolute;
    z-index:1;
    border-radius:10px;
/*    float:left;*/
    
}

.project-title{
    font-family: ITC-Avant-Garde;
    font-weight:bolder;
    font-size:5vw;
    line-height:3vw;
    color:black;
/*    background-color:black;*/
    margin-top:38vw;
    margin-left:55vw;
    position:relative;
    z-index:2;
/*    float:left;*/
    text-align:left;
/*    float:left;*/
}

.project-text{
   position:absolute;
    
    z-index:1;
    float:left;
/*    background-color:black;*/
    width:40vw;
/*    height:757vw;*/
    margin-top:20vw;
    margin-left:52vw;
}

.project-imgs{
    position:relative;
/*    background-color:aquamarine;*/
    width:35vw;
/*    height:757vw;*/
    z-index:2;
    float:left;
    margin-left:12vw;
    margin-top:20vw;
    
}

.text-header{
/*    margin-bottom:1vw;*/
    font-family: ITC-Avant-Garde;
    font-weight:bolder;
    font-size:5vw;
    line-height:2vw;
    color:black;
    float:right;
/*    text-decoration:underline;*/
}

.subheaders{
    font-family: sans-serif;
    font-weight:bolder;
    font-size:0.8vw;
    line-height:2vw;
    color:black;
    margin-bottom:1vw;
    margin-top:4vw;
}

.text{
    margin-bottom:20vw;
    font-family:sans-serif;
    font-size:1vw;
    line-height:2vw;
    color:black;
}

.centered-items{
    position:absolute;
    z-index:3;
    width:76vw;
    height:140vw;
    margin-top:21vw;
    margin-left:12vw;
/*    background-color:black;*/
    
}

.centered-img{
    width:76vw;
    height:30vw;
    border-radius:10px;
    object-fit:cover;
    overflow:hidden;
/*    object-position: bottom 20%;*/
/*    margin-left:10vw;*/
    margin-top:56.5vw;
}

.img-proportions{
    height:45vw;
    object-fit:cover;
    object-position: bottom 20%; 
}

.ind-imgs{
width:35vw;
    height:28.5vw;
    border-radius:10px;
    object-fit:cover;
    float:right;
    
}

#user-flow{
    width:40vw;
    height:28.5vw;
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  right: 50px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: lightcoral; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 25px; /* Some padding */
  border-radius: 50px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#Next{
    margin-top:5vw;
    margin-left:40.5vw;
    border:none;
    outline:none;
    background-color:white;
    color:black;
    cursor:pointer;
    padding:25px;
    border-radius:50px;
    font-size:18px;
    justify-content: center;
    display: flex;
}

#Next:hover{
    background-color: antiquewhite;
}