html, body{
    background-color: black;
    margin:auto;
}

h1{
   color:white;
    font-size:2vw;
    font-family:sans-serif;
}

h2{
    
}

.nav-bar{
    direction:"ltr";
    text-align:right;
/*    color:white;*/
    position: relative;
    background-color:white;
    top:70vh;
    height: 100px;
    z-index: 1;
}

.nav-bar-p{
    direction:"ltr";
/*    text-align: center;*/
   color:black;
    font-family:sans-serif;
    text-decoration:none;
    position:relative;
/*    padding:0.4%;*/
/*    width:90%;*/
/*    padding-left:10vw;*/
    top:30%;
    font-size:2vw;
    z-index:3;
}

.highlight-1{
/*    text-align: right;*/
    position:absolute;
    left:5%;
    width:20vw;
    height:100px;
    background-color:hotpink;
    z-index:2;
}

.highlight-2{
/*    text-align: right;*/
    left:27.5%;
     width:20vw;
    height:100px;
    position:absolute;
/*    padding:2%;*/
    background-color:hotpink;
    z-index:2;
}

.highlight-3{
/*    text-align: right;*/
    left:50%;
     width:20vw;
    height:100px;
    position:absolute;
/*    padding:2%;*/
    background-color:hotpink;
    z-index:2;
}

.highlight-4{
/*    text-align: right;*/
    left:72.5%;
     width:20vw;
    height:100px;
    position:absolute;
/*    padding:2%;*/
    background-color:hotpink;
    z-index:2;
}


.name{
    text-align:right;
    position:absolute;
    z-index:3;
    margin-top:7%;
    margin-left:22%;
    
}

.name,h1{
    font-size:6.5vw;
    color:white;
    line-height: 6.6vw;
}

.name, p{
    color:white;
    font-family:sans-serif;
     padding:0.4%;
}

.des-pos{
    position:absolute;
    z-index:2;
    color:white;
    font-family:sans-serif;
    margin-top:23%;
    margin-left:10%;
    text-align:right;
    font-size:2vw;
/*    font-size:1vw;*/
}
